cardapio-backend/vendor/
cardapio-backend/node_modules/
cardapio-backend/npm-debug.log
cardapio-backend/yarn-error.log

# Laravel 4 specific
cardapio-backend/bootstrap/compiled.php
cardapio-backend/app/storage/

# Laravel 5 & Lumen specific
cardapio-backend/public/storage
cardapio-backend/public/hot

# Laravel 5 & Lumen specific with changed public path
cardapio-backend/public_html/storage
cardapio-backend/public_html/hot

cardapio-backend/storage/*.key
cardapio-backend/.env
cardapio-backend/Homestead.yaml
cardapio-backend/Homestead.json
cardapio-backend/.vagrant
cardapio-backend/.phpunit.result.cache
.github/